img {
  border: 0;
}

.column {
  float: left;
  height: 100%;
}

.product-image > img,
.product-image.no-image {
  border: 1px solid #888;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, .4);
  box-shadow: 0 0 2px rgba(0, 0, 0, .4);
}

.product-image.no-image {
  background-color: white;
}

.product-image.round > img,
.product-image.no-image.round {
  background: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.product-container:hover .product-image > img {
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .5);
  box-shadow: 0 0 3px rgba(0, 0, 0, .5);
}

.content {
  height: 100%;
  text-align: center;
  width: 100%;
}

.layout .button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  max-width: 95%;
}

@-moz-keyframes sheen-cta {
  0% {
    background-position: -65px 0;
  }
  100% {
    background-position: 350px 0;
  }
}

@-o-keyframes sheen-cta {
  0% {
    background-position: -65px 0;
  }
  100% {
    background-position: 350px 0;
  }
}

@-webkit-keyframes sheen-cta {
  0% {
    background-position: -65px 0;
  }
  100% {
    background-position: 350px 0;
  }
}

@keyframes sheen-cta {
  0% {
    background-position: -65px 0;
  }
  100% {
    background-position: 350px 0;
  }
}

#sheen {
  -moz-animation: sheen-cta 2s 4s ease-in 5;
  -webkit-animation: sheen-cta 2s 4s ease-in 5;
  animation: sheen-cta 2s 4s ease-in 5;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEEAAABBCAMAAAC5KTl3AAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAA/UExURQAAAP///////////////////////////////////////////////////////////////////////////////0O7+moAAAAVdFJOUwA+OTRSTkRJVlkuKCMdGBMOCgYCXLWgMCgAAAB+SURBVFjD7czJEYAgEADBQcUTEI/8YzUFq+a7HUCz5Gnd3m2d8jKnYdyPUtvZr/vhr1kXSReDLkZd7Lo4dFF0UXXRdHHqouvi0sWtiyeKKKKIIoooovhboAt0gS7QBbpAF+gCXaALdIEu0AW6QBfoAl2gC3SBLtAFukAX6OIDB5BSJXvQzvoAAAAASUVORK5CYII=) no-repeat -65px center;
  pointer-events: none;
}

.layout .button.text {
  background: none;
  border: none;
  box-shadow: none;
}

.layout .button span {
  display: block;
  height: 20px;
}

.bevel {
  -moz-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
  -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset;
}

.shadow {
  -moz-box-shadow: 0 2px 2px #333;
  -webkit-box-shadow: 0 2px 2px #333;
  box-shadow: 0 2px 2px #333;
}

.shadow.bevel {
  -moz-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
  -webkit-box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
  box-shadow: -2px -2px 10px rgba(0, 0, 0, .5) inset, 2px 2px 10px #fff inset, 0 2px 2px #333;
}

.round,
.round .background,
.round .bgImage {
  -webkit-border-radius: 8px;
  border-radius: 8px;
}

.square,
.square .background {
  -webkit-border-radius: 0;
  border-radius: 0;
}

.transition {
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.transition.fast {
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.dividerGradient {
  position: relative;
}

.dividerGradient:before,
.dividerGradient:last-child:hover:after {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(40%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 40%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 1px;
}

.dividerGradient:last-child:hover:after {
  left: 100%;
}

.dividerGradient.vertical:before, .dividerGradient.vertical:last-child:after {
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, top left, top right, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(50%, rgba(0, 0, 0, 0.6)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 50%, rgba(0, 0, 0, 0) 100%);
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
}

.dividerGradient.vertical:last-child:after {
  left: 0;
  top: 100%;
}

.dividerGradient:first-child:before {
  display: none;
}

.dividerGradient:hover:first-child:before {
  display: block;
}

.product-container:hover {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 36%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 36%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(1, 1, 1, 0)), color-stop(20%, rgba(0, 0, 0, 0.15)), color-stop(36%, rgba(0, 0, 0, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 36%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.15) 20%, rgba(0, 0, 0, 0.15) 36%, rgba(255, 255, 255, 0) 100%);
}

.product-container.vertical:hover {
  background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.04) 16%, rgba(0, 0, 0, 0.1) 43%, rgba(0, 0, 0, 0.04) 82%, rgba(255, 255, 255, 0) 100%);
  background-image: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.04) 16%, rgba(0, 0, 0, 0.1) 43%, rgba(0, 0, 0, 0.04) 82%, rgba(255, 255, 255, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(1, 1, 1, 0)), color-stop(16%, rgba(0, 0, 0, 0.04)), color-stop(43%, rgba(0, 0, 0, 0.08)), color-stop(82%, rgba(0, 0, 0, 0.04)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.04) 16%, rgba(0, 0, 0, 0.1) 43%, rgba(0, 0, 0, 0.04) 82%, rgba(255, 255, 255, 0) 100%);
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.04) 16%, rgba(0, 0, 0, 0.1) 43%, rgba(0, 0, 0, 0.04) 82%, rgba(255, 255, 255, 0) 100%);
}

.gradient .background {
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0.1) 100%);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0%, rgba(255, 255, 255, 0.2)), color-stop(20%, rgba(255, 255, 255, 1)), color-stop(59%, rgba(255, 255, 255, 1)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0.1) 100%);
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 1) 59%, rgba(255, 255, 255, 0.1) 100%);
}

.button {
  display: inline-block;
  font-size: 14px;
  line-height: 20px;
  padding: 0 8px;
}

.button.text {
  background: none;
  border: none;
  box-shadow: none;
}

.button span {
  display: block;
  height: 20px;
}

.product-image,
.productImage {
  overflow: visible !important;
  position: relative;
}

.logo {
  position: relative;
}

.logo img {
  display: block;
}

.button.text.shadow {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.75);
}

.background.gradient {
  background: none;
}

.background.image-bg {
  background-color: transparent;
}

.gradient .button.text:hover {
  background-image: none;
}

.button.text span {
  padding: 0 1px;
}
